templates/twitchhttpapheader/twitchhttpapheader.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"twitchapihttp": {
			"type": "string"
		},
		"twitchblob": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/twitchhttp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get_TwitchClientID",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "https://twitchkey.vault.azure.net/secrets/twitchclientid/?api-version=7.0",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Get_TwitchClientSecret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"url": {
								"value": "https://twitchkey.vault.azure.net/secrets/twitchcliientkey/?api-version=7.0",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Fetch_TwitchAccessToken",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get_TwitchClientID",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Get_TwitchClientSecret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "application/x-www-form-urlencoded",
									"type": "Expression"
								}
							},
							"url": "https://id.twitch.tv/oauth2/token",
							"body": {
								"value": "client_id=@{activity('Get_TwitchClientID').output.value}&client_secret=@{activity('Get_TwitchClientSecret').output.value}&grant_type=client_credentials",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_TwitchTopGames_to_Blob",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Fetch_TwitchAccessToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": "Authorization: Bearer @{activity('Fetch_TwitchAccessToken').output.access_token}\nClient-Id: @{activity('Get_TwitchClientID').output.value}",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "twitchhttp",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "twitchblob",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"p_top_games_count": {
						"type": "string",
						"defaultValue": "100"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/twitchhttp')]",
				"[concat(variables('factoryId'), '/datasets/twitchblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/twitchhttp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('twitchapihttp')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "/helix/games/top?first=@{pipeline().parameters.p_top_games_count}",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/twitchblob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('twitchblob')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@{pipeline().RunId}.json",
							"type": "Expression"
						},
						"folderPath": {
							"value": "games/top/@{formatDateTime(utcNow(), 'yyyy/MM/dd')}",
							"type": "Expression"
						},
						"container": "twitchuma"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		}
	]
}